
<div>
    <h2>Speech To Text</h2>
    {{#each speakers as |s| }}
        <div class="d-inline-block bg-warning">
          
          <p>Speaker name: {{s.name}} </p>
          <p>Speaker speech: {{s.text}} </p>
          <p>When on audio: {{s.time}}</p>
         
        </div>
    {{/each}}

    
</div>
    <form method="GET" action="/filter" style="margin-top: 50px">
        <div class="form-group">
                <label for="exampleInputPassword1">Keywords</label>
                <input type="text" class="form-control" name="keywords" style="width: 20%" placeholder="Keywords">
        </div>
        <button value="submit" class="btn btn-primary">Filter</button>
    </form>
        

<div>
    <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1440px; height: 659px;'><object class='tableauViz' width='1440' height='659' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;studentsbehavior' /><param name='name' value='StudentsParticipation&#47;Sheet2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
</div>