{{!-- code your html in here --}}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>HANDS-UP</title>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="text-align:center">
        <li class="nav-item active" style="font-size:">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/analysis">Analysis</a>
        </li>
           
    </nav>
   
    
	{{{ body }}}
    
</body>
</html>
